---
layout: default
---
<h2>About Me:</h2>
<div class="row">
    <p>My journey begins as a young and aspiring scientist, hoping to make a difference in the world of education. After five years teaching science to the young minds of tomorrow, I was enlightened by the prospects of coding. Having already earned a BSED in Earth &amp; Space Science Secondary Education from WCUPA, I did not want to repeat the same process to learn how to code.</p>

    <p>Enter, The Iron Yard! After completing A LOT of research and weighing all my options carefully: I quit my career as an educator moved further south to pursue my dreams through a different light and became a splendid coder. I specialize in Ruby, Rails, and Back-End Engineering, however I also have experience in Front-End and a never-ending desire to learn more!</p>

    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="{{ site.resume }}" title="link to {{ site.title }}'s résumé" class="btn btn-lg btn-outline" target="_blank">Résumé</a>
      <a href="https://github.com/timothyhsieh27" title="{{ site.title }}'s Life Collaborator" class="btn btn-lg btn-outline" target="_blank">Life Collaborator</a>
    </div>
</div>
