---
layout: default
---
<h2>About Me:</h2>
<div class="row">
    <p>I am a Back-End Engineer, Educator, Musician, and Gamer.
      I like to solve problems, communicate, create, and compete.</p>

    <p>I attended the University of Maryland, where I earned a B.A. in English
      and an M. Ed. in English Education. After graduating, I taught as a public
      educator for 2 years, working to better the future by equipping young minds.</p>

    <p>I entered The Iron Yard's
      <a href="https://www.theironyard.com/courses/ruby-on-rails" target="_blank">
      Ruby on Rails Back-End Engineering</a> course in Durham, NC on September 12th, 2016.
      For twelve weeks, I struggled, failed, and grew on a daily basis.
      The lessons I learned were hard-earned, but more than worth their costs.
      The experience was life-changing, and I am grateful that The Iron Yard taught
      me so much.</p>

    <p>For our capstone project, my team created
      <a href="https://samanthasheadavis.github.io/codeKarma/#/" target="_blank">CodeKarma</a>,
      a platform that promotes technological altruism. Our communication,
      patience, and persistence enabled us to overcome the many obstacles in our
      project. Completing CodeKarma taught me the efficiency, potency, and
      and joy of working with a dynamic, passionate team.</p>

    <p>Currently, I am searching for new opportunities to continue honing and
      applying my software development skills. If you have any information you would
      like to share, please contact me using one of the provided links! For more
      about me, feel free to review my resume,
      <a href="https://github.com/timothyhsieh27" target="_blank">Github</a>,
      and <a href="https://www.linkedin.com/in/timothyhsieh27" target="_blank">LinkedIn</a>.
      </p>

    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="{{ site.resume }}" title="link to {{ site.title }}'s résumé" class="btn btn-lg btn-outline" target="_blank">Résumé</a>
      <a href="https://kteich88.github.io/" title="{{ site.title }}'s Life Collaborator" class="btn btn-lg btn-outline" target="_blank">Life Collaborator</a>
    </div>
</div>
